:host {
    height: 100vh;
    display: flex;

    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../../../assets/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    height: auto;
    max-width: 400px;
    margin: 80px auto;
    padding: 32px;
    border-radius: 12px;
    text-align: center;

    backdrop-filter: blur(12px);
    background: var(--fundo-painel);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.full-width {
    width: 100%;
    border-radius: 8px;
}

.cadastro-link {
    color: var(--primary-color);
}

.esqueci-link {
    cursor: pointer;
    font-size: 0.9rem;
}

h2 {
    margin-bottom: 30px;
}